-if @cities.blank?
	= collection_select(:profile, :city_id, [], :id, :name, {:prompt => "Выберите район"}, {:disabled => true, class: 'category_input'})
-else
	= collection_select(:profile, :city_id, @cities, :id, :name, {:prompt => "Выберите населенный пункт"}, {class: 'category_input'})