/ %h1 Список организаций

/ %ul
/   - @categories.each do |category|
/     %li
/       = link_to category.name, profiles_category_path(category)
/       - if !category.subcategories.empty?
/         %ul
/           - category.subcategories.each do |subcat|
/             %li= link_to subcat.name, profiles_subcategory_path(subcat)

.sellsblock
  = render 'profiles'