/ %p#notice= notice

%p
  %b Наименование:
  = @subcategory.name
%p
  %b Категория:
  = @subcategory.category.name

= link_to 'Изменить', edit_subcategory_path(@subcategory)
\|
= link_to 'Назад', subcategories_path
