%h1 Список едениц измерения

%table.table
  %tr
    %th Наименование
    %th
    %th

  - @count_types.each do |count_type|
    %tr
      %td= link_to count_type.name, count_type
      %td= link_to 'Изменить', edit_count_type_path(count_type), :class => 'btn btn-mini'
      %td= link_to 'Удалить', count_type, :method => :delete, :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to 'Новая еденица измерения', new_count_type_path, {class: 'btn'}
