-if @subcats.blank?
	= collection_select(:buy, :subcategory_id, [], :id, :name, {:prompt => "Подкатегорий нет"}, {:disabled => true, class: 'category_input'})
-else
	= collection_select(:buy, :subcategory_id, @subcats, :id, :name, {:prompt => "Выберите подкатегорию"}, {class: 'category_input'})