/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-wysihtml5
 *= require_tree .
 *= require_self
*/
@font-face {
    font-family: 'corporate_e_w10_boldregular';
    src: url('corporateew10-bold-webfont.eot');
    src: url('corporateew10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-bold-webfont.woff') format('woff'),
         url('corporateew10-bold-webfont.ttf') format('truetype'),
         url('corporateew10-bold-webfont.svg#corporate_e_w10_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_bold_italicRg';
    src: url('corporateew10-bolditalic-webfont.eot');
    src: url('corporateew10-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-bolditalic-webfont.woff') format('woff'),
         url('corporateew10-bolditalic-webfont.ttf') format('truetype'),
         url('corporateew10-bolditalic-webfont.svg#corporate_e_w10_bold_italicRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_demiregular';
    src: url('corporateew10-demi-webfont.eot');
    src: url('corporateew10-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-demi-webfont.woff') format('woff'),
         url('corporateew10-demi-webfont.ttf') format('truetype'),
         url('corporateew10-demi-webfont.svg#corporate_e_w10_demiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_italicregular';
    src: url('corporateew10-italic-webfont.eot');
    src: url('corporateew10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-italic-webfont.woff') format('woff'),
         url('corporateew10-italic-webfont.ttf') format('truetype'),
         url('corporateew10-italic-webfont.svg#corporate_e_w10_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_lightregular';
    src: url('corporateew10-light-webfont.eot');
    src: url('corporateew10-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-light-webfont.woff') format('woff'),
         url('corporateew10-light-webfont.ttf') format('truetype'),
         url('corporateew10-light-webfont.svg#corporate_e_w10_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_light_italiRg';
    src: url('corporateew10-lightitalic-webfont.eot');
    src: url('corporateew10-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-lightitalic-webfont.woff') format('woff'),
         url('corporateew10-lightitalic-webfont.ttf') format('truetype'),
         url('corporateew10-lightitalic-webfont.svg#corporate_e_w10_light_italiRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_mdregular';
    src: url('corporateew10-md-webfont.eot');
    src: url('corporateew10-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-md-webfont.woff') format('woff'),
         url('corporateew10-md-webfont.ttf') format('truetype'),
         url('corporateew10-md-webfont.svg#corporate_e_w10_mdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_md_italicRg';
    src: url('corporateew10-mditalic-webfont.eot');
    src: url('corporateew10-mditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-mditalic-webfont.woff') format('woff'),
         url('corporateew10-mditalic-webfont.ttf') format('truetype'),
         url('corporateew10-mditalic-webfont.svg#corporate_e_w10_md_italicRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_regularRg';
    src: url('corporateew10-regular-webfont.eot');
    src: url('corporateew10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-regular-webfont.woff') format('woff'),
         url('corporateew10-regular-webfont.ttf') format('truetype'),
         url('corporateew10-regular-webfont.svg#corporate_e_w10_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'corporate_e_w10_demi_italicRg';
    src: url('corporateew10-demiitalic-webfont.eot');
    src: url('corporateew10-demiitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('corporateew10-demiitalic-webfont.woff') format('woff'),
         url('corporateew10-demiitalic-webfont.ttf') format('truetype'),
         url('corporateew10-demiitalic-webfont.svg#corporate_e_w10_demi_italicRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
  //background-color: #CEECF5;
  background-color: #fff;
  color: #333;
  font-family: 'corporate_e_w10_mdregular', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

//overriding boostrap
input, button, select, textarea {
    font-family: inherit;
}

/*table */
.table th, .table td {
  //border-top: none;
}
.table th {
  color: #778FA2;
  border-bottom: 1px solid #315B7F;
}
.table td {
  color: #424242;
}

.well {
  //background-color: #F5ECCE;
  //border: none;
}

/*my css */
/* user name */
.mainname {
  margin-left: 12px;
}

/*navbar*/
.border_bottom {
  border-bottom: 1px solid #777777;
}
.navrow1 {
  //height: 30px;
  .green {
    color: #56ac28;
    line-height: 30px;
  }
  .gray {
    color: #777;
  }
}
.navbar .nav {
  height: 100%;
}
.navbar .nav > li > a {
  //color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: none;
  line-height: 30px;
}
.navbar .nav > li > a:hover {
  color: #56ac28;
  //background-color: #04B404;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover{
  color: #56ac28;
  background-color: transparent;
  box-shadow: none;
}
.mylogo {
  a {
    color: #56ac28;
    font-size: 3em;
    line-height: 1.4;
    //font-weight: bold;
    font-family: 'corporate_e_w10_boldregular', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2em;
  }
  a:hover {
    text-decoration: none;
  }
}

/* ads menu */
.ads {
  width: 100%;
  border-bottom: none;
  li{
    display: table-cell;
    float: none;
    width: 1%;
    text-align: center;
  }
  a { 
    font-size:24px;
    //padding:5px 15px !important; 
  }
}
.ads 
.ads 
.ads li.active a, 
.ads li.active a:hover,
.ads > .active > a, 
.ads > .active > a:hover, 
.ads > .active > a:focus { 
  color:#56ac28;
  border:none; 
  //background:#72c02c;
  cursor: pointer;
}
.ads > li > a { 
  border:none;
  border-radius:0; 
}
.ads > li > a:hover { 
  color:#56ac28;
  background: none; 
}

/* Sign in and register tabs */
#signintabs {
  ul.nav {
    width: 100%;
    //border-bottom: none;
    li{
      display: table-cell;
      float: none;
      width: 1%;
      text-align: center;
    }
    a { 
      //font-size:24px;
      //padding:5px 15px !important; 
    }
    .tab-content { 
      //padding:7px 10px;
      //border-top:solid 2px #72c02c; 
    }
  }
  
}



/* other */
.content {
  //border-top: 1px solid #fff;
  //background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  //-webkit-border-radius: 0 0 6px 6px;
  //-moz-border-radius: 0 0 6px 6px;
  //border-radius: 0 0 6px 6px;
  //-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  //-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  //box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
/*posts on main page */
.post {
  padding-bottom: 20px;
  margin: 20px 0;
  //border: 1px solid #C6E2FF;
  border-bottom: 1px solid rgba(0,0,0,.15);
  //-webkit-border-radius: 0 0 6px 6px;
  //-moz-border-radius: 0 0 6px 6px;
  //border-radius: 0 0 6px 6px;
}

/* table with sells and buys */
.indextable {
	overflow-x: auto;
  margin-top: 20px;
  table {
    vertical-align: center;
  }
  .category {
    font-size: 12px;
    color: #A4A4A4;
    margin-bottom: 0;
  }
  h5 {
    a {
      //color: #380B61;
      font-size: 1.4em;
      line-height: 1;
      text-decoration: none;
    }
    margin: 5px 0;
  }
  p {
    margin-bottom: 3px;
  }
  .price {
    //color: #0B3B17;
    font-size: 2em;
    line-height: 1;
  }
  .profile a {
    color: #848484;
  }
  td.middle {
    vertical-align: middle;
  }
  .thumb_img {
    width: 120px;
  }
  .thumb_img a img {
    max-width: 100px;
    max-height: 100px;
  }
  .edit_td {
    width: 83px;
  }
  .empty {
    width: 0;
    padding: 0;
  }
}

/* add ad button */
.advbtn {
  margin-bottom: 20px;
  //padding-top: 9px;
  //padding-bottom: 9px;
  //border-radius: 0;
}

/* form */
ul.wysihtml5-toolbar {
  width: 90%;
  background-color: #f0f0f0;
  padding: 10px 4px 0 10px;
}
.fortextarea {
  //padding-right: 20px;
  textarea {
    //max-width: 100%;
    width: 90%;
    height: 150px;
  }
}
.title_input {
  width: 90%;
}
.inline_hint {
  display: inline-block;
  margin-left: 11px;
}
.inline_field_wrapper {
  display: inline-block;
}
.count_input {
  width: 160px;
}
.ctype_input {
  width: 80px;
}
.ctype_wrapper .controls{
  margin-left: 0;
}
.category_input {
  width: 300px;
}

/*
.subcat {
  padding-left: 15px;
  label {
    font-size: 1em;
  }
}
*/

/* list of categories */
.catsblock {
  margin-bottom: 10px;
  li.nosubs {
    min-height: 21px;
  }
  a {
    text-shadow: none;
    line-height: 1.1;
  }
  .cat {
    font-weight: bold;
  }
  .nav-list {
    padding-left: 10px;
    padding-right: 0;
  }
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  color: #56ac28;
  text-shadow: none;
  background: none;
}
.nav > li > a:hover, .nav > li > a:focus {
  background: none;
}

/* Sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  //margin: 0 auto -60px;
  margin-bottom: -60px;
}

/* Set the fixed height of the footer here */
#push {
  height: 60px;
}
footer {
  background-color: #f5f5f5;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

/* Search form for sells. buys */
.searchform {
  //overflow-x: auto;
  .searchblock {
    //float: left;
    //margin-right: 40px;
  }
  input {
    //font-size: 12px;
    width: 98%;
    height: 30px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }
  select {
    //font-size: 12px;
    //width: 250px;
    width: 98%;
  }
  label {
    //font-size: 12px;
  }
  .btn-filter {
    margin-top: 26px;
    height: 28px;
    width: 98%;
    //float: left;
  }
}

/*buttons edit and delete*/
.headbtn {
  //margin-left: 30px;
  float: right;
}

.myerror {
  color: #B94A48;
  .help-inline {
    color: #B94A48;
  }
}
