/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-wysihtml5
 *= require_tree .
 *= require_self
*/

//overriding boostrap
.navbar {
  background-color: #088A08;
}
.navbar .brand {
  color: #fff;
  text-shadow: none;
}
.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}
.navbar .nav > li > a:hover {
  //color: #cc0000;
  background-color: #04B404;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover{
  color: #fff;
  background-color: #0B610B;
}
.table th, .table td {
  //border-top: none;
}
.table th {
  color: #778FA2;
  border-bottom: 1px solid #315B7F;
}
.table td {
  color: #424242;
}
.well {
  //background-color: #F5ECCE;
  //border: none;
}

/*my css */
/* user name */
.mainname {
  margin-left: 12px;
}
/* ads menu */
.ads {
  width: 100%;
  //border-bottom: 0;
  border: 1px solid;
}
.ads li{
  display: table-cell;
  float: none;
  width: 1%;
  text-align: center;
  border-left: 1px solid black;
}
.ads li:first-child {
  border-left: 0;
}
.ads .active a{
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
}
.nav-tabs > .active > a:hover{
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
}
.nav-tabs > li > a {
  border-radius: 0;
  margin: 0;
}


.content {
  border-top: 1px solid #fff;
  //background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  //-webkit-border-radius: 0 0 6px 6px;
  //-moz-border-radius: 0 0 6px 6px;
  //border-radius: 0 0 6px 6px;
  //-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  //-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  //box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
/*posts on main page */
.post {
  padding-bottom: 20px;
  margin: 20px 0;
  //border: 1px solid #C6E2FF;
  border-bottom: 1px solid rgba(0,0,0,.15);
  //-webkit-border-radius: 0 0 6px 6px;
  //-moz-border-radius: 0 0 6px 6px;
  //border-radius: 0 0 6px 6px;
}

/* table with sells and buys */
.indextable {
	overflow-x: auto;
  margin-top: 20px;
  .category {
    font-size: 11px;
    color: #A4A4A4;
    margin-bottom: 0;
  }
  h5 {
    a {
      color: #380B61;
    }
    margin: 5px 0;
  }
  p {
    margin-bottom: 3px;
  }
  .price {
    color: #0B3B17;
  }
  .profile a {
    color: #848484;
  }
  .city {
    color: #848484;
  }
}

/* add ad button */
.advbtn {
  margin-bottom: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 0;
  //width: 80%;
  //display: block;
  //width: 100%;
}

ul.wysihtml5-toolbar {
  //width: 100%;
  background-color: #f0f0f0;
  padding: 10px 10px 0;
}

.subcat {
  padding-left: 15px;
  label {
    font-size: 1em;
  }
}
.catsblock {
  //float: left;
  margin-right: 20px;
}
.sellsblock {
  //overflow: hidden;
  //float: left;
}
.fortextarea {
  padding-right: 10px;
  textarea {
    max-width: 100%;
    width: 100%;
    height: 390px;
  }
}
.apple_pagination {
  margin-bottom: 20px;
}


/* Sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  //margin: 0 auto -60px;
  margin-bottom: -60px;
}

/* Set the fixed height of the footer here */
#push {
  height: 60px;
}
footer {
  background-color: #f5f5f5;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

/* Search form for sells. buys */
.searchform {
  overflow-x: auto;
  .searchblock {
    float: left;
    margin-right: 40px;
  }
  input {
    font-size: 12px;
  }
  select {
    font-size: 12px;
  }
  label {
    font-size: 12px;
  }
}

/*buttons edit and delete*/
.headbtn {
  margin-left: 30px;
}