/ %p#notice= notice

%h3
  = @category.name
  - if can? :update, @category
    = link_to 'редактировать', edit_category_path(@category), :class => 'btn btn-mini'

- unless @category.subcategories.empty?
  %ul
    - @category.subcategories.each do |subcat|
      %li= link_to subcat.name, subcat

= link_to 'Назад', categories_path, {class: 'btn'}

/ .sellsblock
/   = render 'sells'