-if @subcats.blank?
	= collection_select(:sell, :subcategory_id, [], :id, :name, {:prompt => "Подкатегорий нет"}, {:disabled => true})
-else
	= collection_select(:sell, :subcategory_id, @subcats, :id, :name, {:prompt => "Выберите подкатегорию"})