= link_to 'Подать объявление', new_sell_path, {class: 'btn-u advbtn btn-u-green input-block-level'}

/ - if can? :create, Sell
/   = link_to 'Подать объявление', new_sell_path, {class: 'btn-u btn-u-large advbtn input-block-level btn-u-green'}
/ - elsif can? :create, Buy
/   = link_to 'Подать объявление', new_buy_path, {class: 'btn-u btn-u-large advbtn input-block-level btn-u-green'}