%ul.nav.nav-tabs.ads
	- if params[:controller] == "sells" || params[:controller] == "buys"
		%li{:class => ("active" if params[:controller] == "sells")}
			= link_to 'Предложение', sells_path
		%li{:class => ("active" if params[:controller] == "buys")}
			= link_to 'Спрос', buys_path
	- else
		%li.nolink
			Электронная биржа сельхоз продукции
