%ul.nav.nav-tabs
  %li{:class => ("active" if params[:controller] == "home")}
    = link_to 'Все объявления', root_path
  %li.dropdown{:class => ("active" if params[:controller] == "sells")}
    = link_to 'Предложение', sells_path
  %li.dropdown{:class => ("active" if params[:controller] == "buys")}
    = link_to 'Спрос', buys_path
  / %li.dropdown{:class => ("active" if params[:controller] == "profiles")}
  /   = link_to 'Реестр участников', profiles_path