#banners
	= link_to image_tag('/images/banners/vk_yakutiya.png'), "http://www.yakutiaventure.ru/"
	= link_to image_tag('/images/banners/goskom_ipn.png'), "http://sakha.gov.ru/gosinn"
	= link_to image_tag('/images/banners/sakha_inno.png'), "http://si14.ru/"
