%ul.nav.nav-tabs
	%li{:class => ("active" if params[:controller] == "posts")}
		= link_to 'Новости', posts_path
	%li.dropdown{:class => ("active" if params[:controller] == "sells")}
		= link_to 'Продажа', sells_path
		/ %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => sells_path }
		/ 	Продажа
		/ 	%b.caret
		/ %ul.dropdown-menu
		/ 	%li= link_to 'Все', sells_path
		/ 	- Category.all.each do |category|
		/ 		%li= link_to category.name, sells_category_path(category)
	%li{:class => ("active" if params[:controller] == "buys")}
		= link_to 'Покупка', buys_path
