= link_to "Agrosakha.ru", root_path, :class => 'brand'
/ = link_to image_tag("/images/logo3.png"), root_path, :class => 'mylogo'
%ul.nav.pull-right
  %li{:class => ("active" if params[:controller] == "home" || params[:controller] == "sells" || params[:controller] == "buys")}
    = link_to 'Каталог', root_path
  %li.dropdown{:class => ("active" if params[:controller] == "profiles")}
    = link_to 'Реестр участников', profiles_path